<h1>HELLO THEEEREEEE ~(-_-~)</h1>

<%= select_tag "skills", @values_for_select.html_safe, multiple: true %>

<script type="text/javascript">
  $(document).ready(function() {

    $("#skills")


  });

</script>