/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require bootstrap
 *= require bootstrap_notify
 *= require_self
 *= require_tree .
 */

 /*carousel*/

 /* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}

.ei-slider{
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 400px;
  margin: 0 auto;
}
.ei-slider-loading{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:999;
  background: rgba(0,0,0,0.9);
  color: #fff;
  text-align: center;
  line-height: 400px;
}
.ei-slider-large{
  height: 100%;
  width: 100%;
  position:relative;
  overflow: hidden;
}
.ei-slider-large li{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.ei-slider-large li img{
  width: 100%;
}
.ei-title{
  position: absolute;
  right: 50%;
  margin-right: 13%;
  top: 30%;
}
.ei-title h2, .ei-title h3{
  text-align: right;
}
.ei-title h2{
  font-size: 40px;
  line-height: 50px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #b5b5b5;
}
.ei-title h3{
  font-size: 70px;
  line-height: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #000;
}
.ei-slider-thumbs{
  height: 13px;
  margin: 0 auto;
  position: relative;
}
.ei-slider-thumbs li{
  position: relative;
  float: left;
  height: 100%;
}
.ei-slider-thumbs li.ei-slider-element{
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  z-index: 10;
  text-indent: -9000px;
  background: #000;
  background: rgba(0,0,0,0.9);
}
.ei-slider-thumbs li a{
  display: block;
  text-indent: -9000px;
  background: #666 ;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-box-shadow:
        0px 1px 1px 0px rgba(0,0,0,0.3),
        0px 1px 0px 1px rgba(255,255,255,0.5);
  -moz-box-shadow:
        0px 1px 1px 0px rgba(0,0,0,0.3),
        0px 1px 0px 1px rgba(255,255,255,0.5);
  box-shadow:
        0px 1px 1px 0px rgba(0,0,0,0.3),
        0px 1px 0px 1px rgba(255,255,255,0.5);
  -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
  background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
  position: absolute;
  bottom: 50px;
  opacity: 0;
  z-index: 999;
  max-width: 100%;
  -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  -webkit-box-reflect:
        below 0px -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(transparent),
            color-stop(50%, transparent),
            to(rgba(255,255,255,0.3))
            );
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
  opacity: 1;
  bottom: 13px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 830px) {
  .ei-title{
    position: absolute;
    right: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    top: auto;
    bottom: 10px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    padding: 5px 0;
  }
  .ei-title h2, .ei-title h3{
    text-align: center;
  }
  .ei-title h2{
    font-size: 20px;
    line-height: 24px;
  }
  .ei-title h3{
    font-size: 30px;
    line-height: 40px;
  }
}

 @import url('reset.css');

/* General Demo Style */
body{
  background: #fff;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
}
a{
  color: #555;
  text-decoration: none;
}
a:hover{
  color: #000;
}
.clr{
  clear: both;
}
.wrapper{
  position: relative;
  width: 100%;
}
.wrapper p{
  clear: both;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.reference{
  padding-top: 40px;
}
h1{
  font-size: 34px;
  position:relative;
  color: #000;
  font-weight: 400;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    padding: 20px;
  z-index:1000;
  text-transform: uppercase;
  text-align: center;
}
h1 span{
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-transform: none;
  font-size: 20px;
}
/* Header Style */
.header{
  font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 10px;
  padding: 3px 5px;
  background: #000;
  opacity: 0.9;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}
.header a{
  line-height: 18px;
  padding: 0 4px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
  color: #ddd;
}
.header a:hover{
  color: #fff;
}
.header a span{
  font-weight: bold;
}
.header span.right{
  float: right;
}
@media screen and (max-width: 860px) {
  .header a{
    display: block;
    text-align: center;
    font-size: 10px;
    text-shadow: none;
  }
  .header span.right{
    float: none;
  }
}




.nav-tabs > li > a:hover {
      border-color: #ff0000;
  }
  .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
        color: #fff;
          background-color: #ffffff;
            border: 1px solid #fff;
              border-bottom-color: transparent;
                cursor: default;
            }
#tab-pane
{
    background: white;
}
.btn1
{
    box-radius: 0px;
}
div {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: #fff;
    overflow: auto;
    width: 100%;
    height: 100%;
    line-height: 1.4;
    font-family: Helvetica, serif;


}

.span.offset2
{
    background-image: url('bricko.png');
}
#carousel {
        width: 480px;
        overflow:hidden;
    }

    #carousel ul {
        width: 1920px;
        padding: 0;
        margin: 0;
    }

    #carousel ul li {
        width:480px;
        text-align: center;
        height: 280px;
        list-style: none;
        float:  left;
    }
.nav-pills{
}

.header {
    /* Provide scrollbars if needed and fix the header dimensions */
    overflow: auto;
    position: fixed;
    padding-left: 10%;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 80px;
    color: #fff;
    font: 20px Arial, serif;
    float: center;
    z-index: 2;
    opacity: .99;
    box-shadow: 0px 5px 5px #888888;


}
p
{
}
.footer {
    /* Provide scrollbars if needed and fix the header dimensions */
    overflow: auto;

    background-color: #050505;
    width: 100%;
    height: 30px;
    color: #fff;
    float: center;
    z-index: 2;

    bottom: 0;


}
.carousel-control.right
{
    overflow: hidden;
}

hr
{
    line-height:1px;
    height: 1px;
}
.span2
{
    border-right: 1px solid #e4e4e4;
    background: transparent;
    height: 1200px;
    overflow:hidden;
}
.main {
    /* Provide scrollbars if needed, position below header, and derive height from top/bottom*/
    overflow: auto;
    position: absolute;
    width: 60%;
    top: 0;
    bottom: 0;
    height: 100%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 60px;
    overflow-x: hidden;
    margin-top: 0;
    margin-left: 10%;
    background-color: #fff;
    box-shadow: 0px 0px 10px #bfbfbf;

}
.navbar, .navbar-inner
{
    height: 80px;
}


ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}



.span12.offset1, .span5.offset3
{

    padding-top: 20px;
    background-image: url('ticks.png');
    background: #fff;
      font-family: Open Sans;

}

td
{
    padding-right: 10px;
}

.divtop
{
    width: 940px;
    padding-top:100px;
}
.notice_right{
    font: 1em 'Helvetica W01 Cn', Helvetica;
    color: #474747;
    padding-bottom:4px;
    padding-top:2px;

}
.valid_notice_right{
    height:20px;
    width:350px;
    margin:auto;
    margin-top:8px;
    margin-bottom:8px;
    font: 1em 'Helvetica W01 Cn', Helvetica;
    color: #474747;
    padding-bottom:4px;
    padding-top:2px;
}
.invalid_notice_right{
    width:auto;
    max-width: 300px;
    margin-top:8px;
    margin-bottom:8px;
    font: 1em 'Helvetica W01 Cn', Helvetica;
    text-align: center;
    color: #474747;
    padding-bottom:0px;
    padding-top:2px;
}
.notice_right, .invalid_notice_right p, .valid_notice_right p{
    text-align:center;
    margin-top:2px;
    font: 0.8em 'Helvetica W01 Cn', Helvetica;
    color: #474747;
    padding-bottom:1px;
    padding-top:1px;
}

.notice_right{
    background-color: transparent;
    margin-top:0px;
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    font: 1.3em 'Helvetica W01 Cn', Helvetica;
    color: #006699;
    font-weight:bold;
    padding-bottom:0px;
    padding-top:0px;
}

.invalid_notice_right{
    background-color: #FFCCCC;
    border:1px solid red;
}
.valid_notice_right{
    background-color: #CCFFCC;
    border:1px solid green;
}

h1, h2, h3, h4
{
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: normal;
}
.navbar-fixed, .haha, .navbar-inner{
background-color: #050505;
background-image: url('black_paper.png');
height:100px;
    opacity: .97;
font-family: Oswald;
font-size: 15px;
text-transform: uppercase;
color: #fff;

}
.hehe
{
    background-image: url('diagor.png');
 }
.haha
{
   font-size:25px;
height:250px;
  background-image: url('brickp.png');
padding-top:10px;
color: #fff;
}
.simplebox
{
      outline: none;
        border:none !important;
          box-shadow:none !important;
      }

.navbar, .nav
{
        color:#fff;
}
p.Head
{
    font-size: 30px;
    text-transform: capitalize;
}

/* ## Notification Keyframe Animations
 *
 * ## Usage
 *
 * ```css
 *  -webkit-animation: notification .75s linear;
 *  -moz-animation: notification .75s linear;
 *  -ms-animation: notification .75s linear;
 *  -o-animation: notification .75s linear;
 *  animation: notification .75s linear;
 * ```
 */

@-webkit-keyframes notification {
  0% { -webkit-transform: rotateY(-90deg); opacity: 0; }
  70% { -webkit-transform: rotateY(20deg); opacity: .8; }
  90% { -webkit-transform: rotateY(-10deg); opacity: 1; }
  100% { -webkit-transform: rotateY(-0deg); opacity: 1; }
}

@-moz-keyframes notification {
  0% { -moz-transform: rotateY(-90deg); opacity: 0; }
  70% { -moz-transform: rotateY(20deg); opacity: .8; }
  90% { -moz-transform: rotateY(-10deg); opacity: 1; }
  100% { -moz-transform: rotateY(-0deg); opacity: 1; }
}

@-ms-keyframes notification {
  0% { -ms-transform: rotateY(-90deg); opacity: 0; }
  70% { -ms-transform: rotateY(20deg); opacity: .8; }
  90% { -ms-transform: rotateY(-10deg); opacity: 1; }
  100% { -ms-transform: rotateY(-0deg); opacity: 1; }
}

@-o-keyframes notification {
  0% { -o-transform: rotateY(-90deg); opacity: 0; }
  70% { -o-transform: rotateY(20deg); opacity: .8; }
  90% { -o-transform: rotateY(-10deg); opacity: 1; }
  100% { -o-transform: rotateY(-0deg); opacity: 1; }
}

keyframes notification {
  0% { transform: rotateY(-90deg); opacity: 0; }
  70% { transform: rotateY(20deg); opacity: .8; }
  90% { transform: rotateY(-10deg); opacity: 1; }
  100% { transform: rotateY(-0deg); opacity: 1; }
}

.notifications > div {
  -webkit-animation: notification .75s linear;
  -moz-animation: notification .75s linear;
  -ms-animation: notification .75s linear;
  -o-animation: notification .75s linear;
  animation: notification .75s linear;
}

.notifications{position:fixed;}.notifications.top-right{right:10px;top:250px;}
.notifications.top-left{left:10px;top:25px;}
.notifications.bottom-left{left:10px;bottom:25px;}
.notifications.bottom-right{right:10px;bottom:25px;}
.notifications>div{position:relative;z-index:9999;margin:5px 0px;}
.notifications.center{top:10%;left:0;width:100%;}.notifications.center>div{margin:5px auto;width:60%;text-align:center;}

.title{
    font-family: Oswald;
    font-size: 1.3em;
    text-transform: capitalize;
}
           .nav-tabs > li, .nav-pills > li {
                    float:none;
                        display:inline-block;
                            *display:inline; /* ie7 fix */
                                 zoom:1; /* hasLayout ie7 trigger */
                             }

                             .nav-tabs, .nav-pills {
                                     text-align:right;
                                 }

td
{
    width: 200px;
}
