/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require_self
 *= require_tree .
 */

 div {
 	margin: 0;
 	padding: 0;
 }
 body{
 	margin: 0;
 	background-color: #b3b3b3;
    background-image: url('inflicted.png');
 	overflow: auto;
 	width: 100%;
 	height: 100%;

	line-height: 1.4;
font-family: 'Arapey', serif;


 }

 .header {
 	/* Provide scrollbars if needed and fix the header dimensions */
 	overflow: auto;
 	position: fixed;
    padding-left: 10%;
 	background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
 	width: 100%;
    height: 80px;
 	color: #fff;
 	font: 20px Arial, serif;
 	float: center;
 	z-index: 2;
 	opacity: .99;
 	box-shadow: 0px 5px 5px #888888;


 }

 .footer {
 	/* Provide scrollbars if needed and fix the header dimensions */
 	overflow: auto;
 	position: absolute;
 	background-color: #71bf00;
 	width: 100%;
 	height: 30px;
 	color: #fff;
 	float: center;
 	z-index: 2;
 	box-shadow: 0px -5px 10px #888888;
 	bottom: 0;


 }

    .container-fluid
    {
        font-family: 'Lato', sans-serif;

    }
h1, h2, h3, h4
{
    font-family: 'Combo', cursive;
}
    .container
 {
 	margin-left: 10%;
 	margin-right: 10%;
}



 .main {
 	/* Provide scrollbars if needed, position below header, and derive height from top/bottom*/
 	overflow: auto;
 	position: absolute;
 	width: 60%;
 	top: 0;
 	bottom: 0;
    height: 100%;
    padding-top: 100px;
 	padding-left: 50px;
 	padding-right: 100px;
 	padding-bottom: 60px;
 	overflow-x: hidden;
    margin-top: 0;
    margin-left: 10%;
    background-color: #f7f7f7;
     box-shadow: 0px 0px 10px #bfbfbf;

 }
.navbar, .navbar-inner
{
height: 80px;
}


 ul.nav li.dropdown:hover ul.dropdown-menu{
         display: block;
     }

     a.menu:after, .dropdown-toggle:after {
           content: none;
       }


 .right {


 	float: left;

width:100%;
    background-image: url('greyfloral.png');
 	top: 0;


 	overflow-x: hidden;
 }
.span9, .span3
{
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    background: #fff;
    box-shadow: 0px 0px 8px #e4e4e4;
    margin-bottom: 20px;
   }

   .span4.offset4
   {
    background: rgb(250,250,250);
    border-radius: 20px;
    box-shadow: 0px 0px 50px #000;
    border-width: 10px;
    border: 10px solid #ABF400;
    padding: 20px 50px 20px 50px;

   }
   td
   {
       padding-right: 10px;
   }

    .span12
    {


    }
 .divtop
 {
     width=940px;
     padding-top:100px;
 }
 .notice_right{
	font: 1em 'Helvetica W01 Cn', Helvetica;
	color: #474747;o
	padding-bottom:4px;
	padding-top:2px;

}
.valid_notice_right{
	height:20px;
	width:350px;
	margin:auto;
	margin-top:8px;
	margin-bottom:8px;
	font: 1em 'Helvetica W01 Cn', Helvetica;
	color: #474747;
	padding-bottom:4px;
	padding-top:2px;
}
.invalid_notice_right{
	width:auto;
	max-width: 300px;
	margin-top:8px;
	margin-bottom:8px;
	font: 1em 'Helvetica W01 Cn', Helvetica;
	text-align: center;
	color: #474747;
	padding-bottom:0px;
	padding-top:2px;
}
.notice_right, .invalid_notice_right p, .valid_notice_right p{
	text-align:center;
	margin-top:2px;
	font: 0.8em 'Helvetica W01 Cn', Helvetica;
	color: #474747;
	padding-bottom:1px;
	padding-top:1px;
}

.notice_right{
	background-color: transparent;
	margin-top:0px;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	font: 1.3em 'Helvetica W01 Cn', Helvetica;
	color: #006699;
	font-weight:bold;
	padding-bottom:0px;
	padding-top:0px;
}

.invalid_notice_right{
	background-color: #FFCCCC;
	border:1px solid red;
}
.valid_notice_right{
	background-color: #CCFFCC;
	border:1px solid green;
}
